td, th, tr{
    border: 1px solid black; text-align: center;
    width: 30px;
    height: 30px;
}
.prazdna{
    empty-cells: hide;
}
.bezbar{
    border: 1px solid white;
}
.alkkov{
    background-color: red;
    border: 1px solid white
}
.alkzem{
    background-color: orange
}